.formulario{
    background-color: #FFFFFF
}

.formulario-titulo{
    font-weight: 800;
}

.formulario-botao{
    background-color: #FD7401;
    border-color: #FD7401;
}

.formulario-botao:hover{
    background-color: #e46801;
    border-color: #e46801;
}

.formulario-label{
    background-color: #f1f3f6;
}