.titulo-principal{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.formulario-botao{
    background-color: #FD7401;
    border-color: #FD7401;
    color: white;
    width: 100%; 
}

.formulario-botao:hover{
    background-color: #e46801;
    border-color: #e46801;
    color: white;
}

.form-label {
    display: block;
}

.logout-bar {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 30px;
    text-align: center;
    display: none;
    box-shadow: 0px 5px 30px 2px rgb(204, 204, 204);
}