.titulo-principal{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}
.formulario{
    background-color: #FFFFFF;
}

.label{
    background-color: #F1F3F6;
    border-color: #F1F3F6;
}

.formulario-botao{
    background-color: #FD7401;
    border-color: #FD7401;
    color: #FFF;
}

.formulario-botao:hover{
    background-color: #e46801;
    border-color: #e46801;
    color: white;
}