.grafico{
    max-height:400px;
}

.nav-link[href="dashboard.html"] {
    color: #F15B36 !important;
}

.navbar{
    box-shadow: 0px 0px 30px 2px rgb(204, 204, 204);
}

.logout-bar {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 30px;
    text-align: center;
    display: none;
    box-shadow: 0px 5px 30px 2px rgb(204, 204, 204);
}