.grafico{
    max-height:400px;
}

.nav-link[href="dashboard.html"] {
    color: #F15B36 !important;
}

.navbar{
    box-shadow: 0px 0px 30px 2px rgb(204, 204, 204);
}

.logout-bar {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 30px;
    text-align: center;
    display: none;
    box-shadow: 0px 5px 30px 2px rgb(204, 204, 204);
}

#grafico-produtos {
    max-width: 100%;
}

#backgroundCol1 {
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    text-align: center;
}

#backgroundCol1 > h2 {
    margin-bottom: 20px;
}

#backgroundCol1 > .bg-light {
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
}

#divGrafico {
    width: 900px;
}

#backgroundCol2 {
    height: 580px;
}