.card-vendas-do-dia{
    background-color: white;
}

.card-vendas {
    width: 180px;
    height: 120px;
    background-color: #F1F0F0;
    border-radius: 1rem;
}

.navbar{
    background-color: white;
}

/* Seleciona o link que contém a palavra "Produtos" */
.nav-link[href="dashboard.html"] {
    color: #F15B36 !important; /* Define a cor da fonte como laranja */
}

body{
    background-color: #F1F0F0;
}